* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button:hover {
    background: transparent;
    color: transparent;
}

#custom-logo,
#window,
#clock,
#battery,
#pulseaudio,
#tray,
#workspaces,
#network,
#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    border: 0px;
}
#backlight, #custom-logo {

    border-radius: 10px 0px 0px 10px;
}

#clock{
    border-radius: 10px 10px 10px 10px;
    color: #DCBABA;
}

#network {
    margin-right: 10px;
    border-radius: 10px;
    color: #8DDEE0;
}

#tray {
    padding-right : 10px;
    border-radius : 10px;
    margin-right : 10px;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
    border-radius: 0px 10px 10px 0px;
    color: #A98FD8;
}


#window {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 20px;
    color: #A98FD8;
}

#custom-logo {
    color: #89b4fa;
    margin-left: 10px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #a6e3a1;
    border-left: 0px;
    margin-right: 10px;
    border-radius: 0px 10px 10px 0px;
    padding-right: 15px;
}
@keyframes blink {
    to {
        color: #E17719;
    }
}

#battery.critical:not(.charging) {
    color: #bd0035;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
